<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng chủ đề mới</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
        <div class="content-box">
            <h1>Đăng chủ đề thảo luận mới</h1>
            <form th:action="@{/thread/create}" method="post">
                <div class="form-group">
                    <label>Tiêu đề chủ đề:</label>
                    <input type="text" name="title" class="form-control" placeholder="Nhập tiêu đề chủ đề..." required>
                </div>
                <button type="submit" class="btn-primary">Đăng bài ngay</button>
                <a th:href="@{/}" class="btn-theme">Hủy</a>
            </form>
        </div>
    </div>
</body>
</html>